<section class="bg-lays">
    <div class="overlay">
        <div class="inner-body-loading">
            <%= image_tag "loading.gif", class: "img-fluid" %>
        </div>
    </div>
    <div class="deskktop">
        <h2 class="pb-4">Please Visit On Your Mobile Device. </h2>
        <a href="javascript:void(0)"><%= image_tag "logoXl.png", width: "400" %></a>
    </div>
    <div class="scan-icon">
        <a href="javascript:void(0)" id="logo"><%= image_tag "logo.png", width: "250" %></a>
        <a href="http://layslanded.visidots.com/help/" class="help"><span class="info">i</span> Need help?</a>
        <input type="file" accept="image/*" id="file-input" capture="environment" name="image-code" class="upload-box upload" placeholder="Upload File" style="display:none;">
    </div>
</section>
<footer>

</footer>


<script type="text/javascript">
    $(function () {
        var fileupload = $("#file-input");
        var image = $("#logo");
        image.click(function () {
            fileupload.click();
        });
    });
</script>