
    <div class="main-body">
        <div class="overlay">
            <div class="inner-body-loading">
                <%= image_tag "loading.gif", class: "img-fluid" %>
            </div>
        </div>
        <div class="inner-body">
            <div class="show-md">
                <h2 class="text-left pl-3">How does the demo works?</h2>
                <div class="img-text">
                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="border-img">
                                <%= image_tag "image.png", class: "img-fluid" %>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="text-left px-3 py-4">
                                <h2>Try our mobile web demo</h2>
                                <p>                        
                                    Take your phone.
                                </p>
                                <p>
                                    Click the scan lays logo button, 
                                    then direct your phone to this image on the left.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <video id="video" width="640" height="480" autoplay></video>
            <button id="snap">Snap Photo</button>
            <canvas id="canvas" width="640" height="480"></canvas> --!>
            <div class="show-sm">
                <div class="msg-alert alert alert-danger">
                    
                </div>
                <h5 class="text-center pl-3 mb-3">Click Button Below to Scan</h5>
                <div class="button-wrapper">
                    <span class="label">
                       <%= image_tag "image.png", class: "btn-img" %> 
                       <span class="lable-text"> Scan Lays Logo</span>
                    </span>
                    <form id="image-form" method="post" action="/recognize">
                        <input type="file" accept="image/*" id="file-input" capture="environment" name="image-code" class="upload-box upload" placeholder="Upload File">
                    </form>
                </div>
            </div>
        </div>
    </div>


<script>
$(document).ready(function() {
    $(".overlay").hide();
    $(".alert").hide();
    var id = ""
    if (window.requestIdleCallback) {
        requestIdleCallback(function () {
            Fingerprint2.get({}, function (components) {
                var values = components.map(function (component) { return component.value })
                id = Fingerprint2.x64hash128(values.join(''), 31)
                setCookies(id);

            })
        })
    } else {
        setTimeout(function () {
            Fingerprint2.get({}, function (components) {
                var values = components.map(function (component) { return component.value })
                id = Fingerprint2.x64hash128(values.join(''), 31)
                setCookies(id);
            })
        }, 500)
    }
    /*
        var video = document.getElementById('video');

        // Get access to the camera!
        if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                //video.src = window.URL.createObjectURL(stream);
                video.srcObject = stream;
                video.play();
            });
        }
        else if(navigator.getUserMedia) { // Standard
            navigator.getUserMedia({ video: true }, function(stream) {
                video.src = stream;
                video.play();
            }, errBack);
        } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
            navigator.webkitGetUserMedia({ video: true }, function(stream){
                video.src = window.webkitURL.createObjectURL(stream);
                video.play();
            }, errBack);
        } else if(navigator.mozGetUserMedia) { // Mozilla-prefixed
            navigator.mozGetUserMedia({ video: true }, function(stream){
                video.srcObject = stream;
                video.play();
            }, errBack);
        }

        // Elements for taking the snapshot
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');

        // Trigger photo take
        document.getElementById("snap").addEventListener("click", function() {
            context.drawImage(video, 0, 0, 640, 480);
        });
    */



    var fileInput = document.getElementById('file-input');

    fileInput.addEventListener('change', (e) => {
        console.log(e.target.files)

        var file = e.target.files[0];
        var id = Cookies.get("deviceID");

        var formData = new FormData();
        formData.append('id', id);
        formData.append('image', file, 'filename.jpg');
        $(".overlay").show();
        $.ajax({
            url: '/recognize',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function(data){
                if (data.url){
                    window.location.href = data.url;
                }
                else{
                    $(".msg-alert").html(data.msg)
                    $(".msg-alert").fadeIn(300).delay(2500).fadeOut(400);
                }
                $(".overlay").hide();
            },
            error: function(data){
                $(".overlay").hide();
            }
        });
    });

    function setCookies(id){
        if (Cookies.get('deviceID')){
            id = Cookies.get('deviceID');
            console.log(id)
        }
        else{
            Cookies.set('deviceID', id)
        }
    }
});

</script>