<div class="app__layout">
<video id="video" autoplay playsinline="true"></video>
</div>
<section class="bg-lays">
    <div class="overlay">
        <div class="inner-body-loading">
            <%= image_tag "loading.gif", class: "img-fluid" %>
        </div>
    </div>
    <div class="deskktop">
        <h2 class="pb-4">Please Visit On Your Mobile Device. </h2>
        <a href="javascript:void(0)"><%= image_tag "logoXl.png", width: "400" %></a>
    </div>
    <div class="scan-icon">
        <div class="msg-alert alert alert-danger">      
        </div>
        <button id="logo"><%= image_tag "logo.png", width: "250" %></button>
        <a href="http://layslanded.visidots.com/help/" class="help"><span class="info">i</span> Need help?</a>
        <input type="file" capture="environment" accept="image/*" id="file-input" class="upload-box upload" placeholder="Upload File" style="display:none;">
    </div>
</section>
<footer>

</footer>

<canvas id="canvas" width="300" height="300" style="display:none;"></canvas>

<script type="text/javascript">
    
</script>

<style>
.app__layout {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
}

video{
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
}
</style>